In [1]:
import numpy as np
import pandas as pd

### Creando el DF

In [2]:
from random import choice

def CrearDataset(n=1):
    data = []
    for i in range(n):
        fechas_rango = pd.date_range('2022/1/1', '2023/1/1', freq='W-MON')
        clientes = np.random.randint(1000, size=len(fechas_rango))
        
        local = ['Bogotá', 'Facatativá', 'Medellín']
        random_local = [choice(local) for x in clientes]
        
        compra_online = [True, False]
        random_compra_online = [choice(compra_online) for x in clientes]
        data.extend(zip(fechas_rango, clientes, random_local, random_compra_online))

    return data

dataset = CrearDataset(3)

df = pd.DataFrame(dataset, columns=['fechas', 'n clientes', 'local', 'Compra_online'])
df

        fechas  n clientes       local  Compra_online
0   2022-01-03         154    Medellín          False
1   2022-01-10         875    Medellín          False
2   2022-01-17         866    Medellín          False
3   2022-01-24         898  Facatativá          False
4   2022-01-31          38  Facatativá          False
..         ...         ...         ...            ...
151 2022-11-28         324    Medellín           True
152 2022-12-05         644    Medellín           True
153 2022-12-12         121      Bogotá           True
154 2022-12-19         927      Bogotá           True
155 2022-12-26         420    Medellín           True

[156 rows x 4 columns]

### ```np.random.choice```

Extrayendo una muestra aleatoria de un array unidimensional

In [22]:
filas = np.random.choice(df.index, size=11, replace=True) #el attr replace indica si se repiten o no los valores
filas

array([144,  91, 125, 124, 127,  66,  56, 142, 104, 141,  28])

In [16]:
df.loc[filas]

        fechas  n clientes       local  Compra_online
107 2022-01-24         524    Medellín           True
98  2022-11-21         724  Facatativá          False
106 2022-01-17         239    Medellín           True
119 2022-04-18         990      Bogotá          False
106 2022-01-17         239    Medellín           True
109 2022-02-07         955  Facatativá           True
48  2022-12-05          34      Bogotá          False
17  2022-05-02         565  Facatativá           True
140 2022-09-12         875    Medellín          False
88  2022-09-12         128    Medellín           True
128 2022-06-20         196    Medellín           True

In [17]:
df

        fechas  n clientes       local  Compra_online
0   2022-01-03         154    Medellín          False
1   2022-01-10         875    Medellín          False
2   2022-01-17         866    Medellín          False
3   2022-01-24         898  Facatativá          False
4   2022-01-31          38  Facatativá          False
..         ...         ...         ...            ...
151 2022-11-28         324    Medellín           True
152 2022-12-05         644    Medellín           True
153 2022-12-12         121      Bogotá           True
154 2022-12-19         927      Bogotá           True
155 2022-12-26         420    Medellín           True

[156 rows x 4 columns]

#### ejemplo replace

In [27]:
test = np.random.choice([5, 4, 2], size=3, replace=True)
test

array([5, 5, 5])

In [28]:
test = np.random.choice([5, 4, 2], size=3, replace=False)
test

array([5, 4, 2])